body {
  background-color: #36454F;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

/* For screen display */
p {
  margin: 0 0 10px;
}


/* Link to GitHub */
#my-about {
  bottom: 0.5em;
  right: 15em;
  font-size: 1em;
  position: fixed;
}

a,
a:visited{
  color:#fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a,
a:visited {
  position: fixed;
  bottom: 1em;
  text-align: right;
  color: #fff;
  text-decoration: none;
  font-size: 0.8em;
}

a:hover {
  text-decoration: underline;
}

h1 {
  color: white;
  font-size: 2.0em;
  font-family: 'Slabo 27px', serif;
  font-weight: 500;
  line-height: 1.1;
  margin: 35px 0 20px 0;
  text-align: center;
}

button {
  color: white;
  cursor: pointer;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 1.5em;
  height: 35px;
  margin: 3px 3px 0 0;
  padding-bottom: 4px;
  width: 55px;
}

button:focus {
  outline: none;
}

button:active {
  -webkit-box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.4);
}

#calculator {
  margin: auto;
  padding: auto;
}

#screen {
  background-color: #b8b894;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size: 2.3em;
  font-weight: bold;
  padding-right: 5px;
  text-align: right;
}

#key-plus {
  height: 100%;
  width: 100%;
}

/* Also includes decimal (.) and equals (=) key for simplicity. Class is used just to style the keys*/
.num-key {
  background-color: #888;
  /* For browsers that do not support gradients */
  background-image: -webkit-linear-gradient(#8c8c8c 0%, #4d4d4d 50%);
  /* For Safari 5.1 - 6.0 */
  background-image: -moz-linear-gradient(#8c8c8c 0%, #4d4d4d 50%);
  /* For Firefox 3.6 to 15 */
  background-image: -o-linear-gradient(#8c8c8c 0%, #4d4d4d 50%);
  /* For Opera 11.1 to 12.0 */
  background-image: linear-gradient(#8c8c8c 0%, #4d4d4d 50%);
  border: 1px solid black;
  border-radius: 10px 10px 16px 16px;
  -moz-border-radius: 10px 10px 16px 16px;
  -webkit-border-radius: 10px 10px 16px 16px;
  box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
  -moz-box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
  -ms-box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
  -webkit-box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .6);
}

/* Plus (+), Minus (-), Times (*), and Divide (/) and Percent (%) keys. */
.operator-key {
  background-color: black;
  /* For browsers that do not support gradients */
  background-image: -moz-linear-gradient(#8c8c8c 0%, black 80%);
  /* For Firefox 3.6 to 15 */
  background-image: -o-linear-gradient(#8c8c8c 0%, black 80%);
  /* For Opera 11.1 to 12.0 */
  background-image: -webkit-linear-gradient(#8c8c8c 0%, black 80%);
  /* For Safari 5.1 - 6.0 */
  background-image: linear-gradient(#8c8c8c 0%, black 80%);
  /* Standard syntax */
  border: 1px solid black;
  border-radius: 13px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
}

#key-times {
  font-size: 1.2em;
  padding-bottom: 1px;
}

/* AC and CE keys */
.function-key {
  background-color: red;
  /* For browsers that do not support gradients */
  background-image: -webkit-linear-gradient(#ff3333 0%, #c00 60%);
  /* For Safari 5.1 - 6.0 */
  background-image: -moz-linear-gradient(#ff3333 0%, #c00 60%);
  /* For Firefox 3.6 to 15 */
  background-image: -o-linear-gradient(#ff3333 0%, #c00 60%);
  /* For Opera 11.1 to 12.0 */
  background-image: linear-gradient(#ff3333 0%, #c00 60%);
  border: 1px solid black;
  border-radius: 13px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
  -moz-box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
  -ms-box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
  -webkit-box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
  font-size: 1.3em;
  margin-bottom: 1px;
  padding-bottom: 2px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .6);
}
